<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/JS/app2.js"></script>
    <link rel="stylesheet" href="/css/ag2.css">
</head>
<body>
    <div class="main" ng-app="MyList" ng-controller="myListController">
        <h1>Item List</h1>
        <div class="addItem">
            <input ng-model="newItem" placeholder="Add Item" class="addText">
            <button ng-click="pushItem()">Add</button>
        </div>
        <ul>
            <li ng-repeat="i in items">{{ i }} <span ng-click="deleteItem($index)"> x </span></li>
        </ul>
    </div>
</body>
</html>